@{
    ViewBag.Title = "Home Page";
}
@{
    //ViewBag.Title = "Bank Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ShowTopMenu = true;

}

<div class="row">
    <div class="panel-body">
        <form method="post" action="@Url.Action("ShowSpecificStreamDataView","Home")">

            <div class="col-md-12">
                <div class="col-md-12">

                    <table>

                        <tr>
                            <td>
                                Stream Id:
                            </td>
                            <td>
                                @{ 
                                    StudentRegisterEntities db = new StudentRegisterEntities();
                                    var ds = db.ClassStreams.ToList();
                                }
                                <select name="StreamId" class="text-box margin-top-bottom-2" style="width: 100%">
                                    @foreach (var item in ds)
                                    {
                                        <option value="@item.Id">
                                            @item.StreamName
                                        </option>

                                    }

                                </select>
                                

                            </td>

                        </tr>

                    </table>


                </div>
            </div>

            <div class="col-md-12">
                <input type="submit" class="btn btn-primary bn-sm" value="Search" />

            </div>
        </form>
        <div>
            @{
               // StudentRegisterEntities db = new StudentRegisterEntities();
                var data = db.Students.ToList();
            }
            @Html.Partial("~/Views/Home/ClassStudentData2.cshtml", data)
        </div>
    </div>
</div>